.faq-page {
  min-height: 100vh;
  .header-faq {
    text-align: center;
    padding-top: 5vh;
    h1 {
      font-size: 34px;
    }
    p {
      font-size: 23px;
    }
  }
  .accordion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;

    .accordion-item {
      width: 800px;
      border: none;
      margin-bottom: 2rem;
      .accordion-button {
        background-color: #e28001;
        border: none;
        color: #fff;
        font-size: 19px;
        &:focus {
          box-shadow: none;
        }
        &::after {
          background-image: url(../images/plus-math-30.png);
        }
        &:not(.collapsed) {
          &::after {
            background-image: url(../images/minus-30.png);
          }
        }
      }
      .accordion-body {
        p {
          color: #000;
          font-size: 18px;
          letter-spacing: 0.5px;
        }
        a {
          color: #e28001;
          font-weight: 500;
          text-decoration: underline;
        }
        ul {
          color: #000;
          font-size: 18px;
          letter-spacing: 0.5px;
        }
      }
    }
  }
}
@media screen and (max-width: 991.98px) {
  .faq-page {
    .accordion {
      .accordion-item {
        width: 100%;
      }
    }
  }
}
