.ourteam {
  min-height: 100vh;
  background-color: #000;
  position: relative;

  .center {
    color: gold;
  }

  .wrapperClass {
    color: gold;
  }

  hr {
    color: $mainColor;
  }

  .ourteam-header {
    min-height: 20vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 6vh;

    h2 {
      font-size: 40px;
    }

    p {
      font-size: 25px;
    }
  }

  .ourteam-characters {
    min-height: 87vh;
    display: flex;
    align-items: flex-end;
    position: absolute;
    z-index: 0;
    transition: all 0.3s;
    left: 52%;
    transform: translate(-50%);
    &.hidden {
      opacity: 0;
      visibility: hidden;
    }

    .swiper-ourteam-1initialized {
      overflow: initial;
      width: 1320px !important;

      .swiper-slide {
        width: 250px !important;
        img {
          user-select: none;
        }
        &:nth-child(1) {
          left: 135px;
        }

        &:nth-child(2) {
          left: 43px;
        }

        &:nth-child(3) {
          position: relative;
          z-index: 3;
        }

        &:nth-child(4) {
          right: 50px;
          z-index: 0;
        }

        &:nth-child(5) {
          left: -129px;
          position: relative;
          z-index: -2;
        }

        &:nth-child(6) {
          top: -214px;
          right: 1126px;
          z-index: -1;

          img {
            object-fit: contain;
          }
        }

        &:nth-child(7) {
          z-index: -1;
          top: -214px;
          right: 1192px;

          img {
            object-fit: contain;
          }
        }

        &:nth-child(8) {
          z-index: -1;
          top: -204px;
          right: 1264px;
          width: 264px;

          img {
            height: 367px;
          }
        }

        &:nth-child(9) {
          z-index: -2;
          top: -214px;
          right: 1334px;

          img {
            object-fit: contain;
          }
        }

        &:nth-child(10) {
          z-index: -3;
          top: -214px;
          right: 1408px;

          img {
            object-fit: contain;
          }
        }
      }
    }

    .swiper-ourteam-2initialized {
      width: 400px;
      display: none;

      .characters-information-mobile {
        position: relative;
        display: flex;
        justify-content: end;
        width: fit-content;
        margin-bottom: 15vh;
        .wrapper-characters-information-mobile {
          border: 1px solid #e28001;
          position: relative;
          border-bottom: 0;
          padding: 0 10px 19px 10px;
          z-index: -1;
          min-width: 330px;
          text-align: center;
          &::after {
            content: "";
            position: absolute;
            border-bottom: 1px solid #e28001;
            width: 10%;
            bottom: 0;
            left: 0;
          }
          &::before {
            content: "";
            position: absolute;
            border-bottom: 1px solid #e28001;
            width: 10%;
            bottom: 0;
            right: 0;
          }
        }

        span {
          color: #fff;
          font-size: 40px;
          font-weight: bold;
        }
        p {
          font-size: 20px;
          letter-spacing: 1px;
          text-align: center;
          position: absolute;
          left: 50%;
          transform: translate(-50%);
          white-space: nowrap;
          span {
            background-color: #e28001;
            font-size: 20px;
            font-weight: bold;
            padding: 0 3px;
            margin-right: 5px;
          }
        }
      }

      .swiper-button-next {
        position: absolute;
        right: 0;
      }

      .swiper-button-prev {
        position: absolute;

        left: 0;
      }

      .swiper-button-next::after,
      .swiper-button-prev::after {
        color: $mainColor;
      }

      .swiper-slide {
        width: 400px !important;
        display: flex;
        justify-content: center;

        img {
          width: 250px;
        }

        &.swiper-slide-active {
          img {
            filter: grayscale(0) blur(0) !important;
          }
        }
      }
    }

    div {
      flex-shrink: 0;
      position: relative;
    }

    img {
      width: 100%;
      cursor: pointer;
      object-fit: fill;
      height: 350px;
      transition: all 1s;
      &.hidden {
        filter: grayscale(100%) blur(100px);
      }
      &.show {
        filter: grayscale(100%) blur(3px);
      }
      &:hover {
        filter: grayscale(0);
      }
    }
  }

  .loading-nft {
    color: #fff;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .model3d-characters {
    width: 100%;
    height: 470px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .characters-information-left {
      width: 400px;
      padding: 10px 0 10px 15px;
      border-left: 1px solid #e28001;
      border-bottom: 1px solid #e28001;
      position: relative;
      bottom: 280px;
      &::after {
        content: "";
        position: absolute;
        border-top: 1px solid #e28001;
        width: 36%;
        top: 0;
        left: 0;
      }
      p {
        font-size: 17px;
        letter-spacing: 1px;
      }
    }
    .characters-information-right {
      position: relative;
      bottom: 380px;
      display: flex;
      justify-content: end;
      width: fit-content;
      left: 100%;
      transform: translate(-100%);
      .wrapper-characters-information-right {
        border: 1px solid #e28001;
        position: relative;
        border-bottom: 0;
        padding: 0 10px 19px 10px;
        z-index: -1;
        min-width: 330px;
        text-align: center;
        &::after {
          content: "";
          position: absolute;
          border-bottom: 1px solid #e28001;
          width: 10%;
          bottom: 0;
          left: 0;
        }
        &::before {
          content: "";
          position: absolute;
          border-bottom: 1px solid #e28001;
          width: 10%;
          bottom: 0;
          right: 0;
        }
      }

      span {
        color: #fff;
        font-size: 40px;
        font-weight: bold;
      }
      p {
        font-size: 20px;
        letter-spacing: 1px;
        text-align: center;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        white-space: nowrap;
        span {
          background-color: #e28001;
          font-size: 20px;
          font-weight: bold;
          padding: 0 3px;
          margin-right: 5px;
        }
      }
    }

    canvas + div {
      color: #fff;
      font-size: 3rem;
      left: 50% !important;
      top: 50% !important;
      transform: translate(-50%, -50%) !important;
    }

    .close-model3d {
      background-color: $mainColor;
      height: 50px;
      width: 50px;
      border-radius: 50px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

//Responsive
@media screen and (max-width: 1199.98px) {
  .ourteam {
    .model3d-characters {
      .characters-information-left {
        width: 375px;
      }
      .characters-information-right {
        left: 96%;
        span {
          font-size: 34px;
        }
      }
    }
  }
}
@media screen and (max-width: 991.98px) {
  .ourteam {
    .ourteam-header {
      top: 0;
      margin: 4rem 0;
    }
    .ourteam-characters {
      left: 50%;
      .character-1,
      .character-2,
      .character-3,
      .character-4,
      .character-5,
      .character-6,
      .character-7,
      .character-8,
      .character-9,
      .character-10 {
        inset: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
      }
      img {
        object-fit: contain;
      }
    }
    .characters-information {
      display: none;
    }
  }
}
@media screen and (max-width: 575.98px) {
  .ourteam {
    .ourteam-characters {
      .swiper-ourteam-2initialized {
        width: 350px;
        .characters-information-mobile {
          .wrapper-characters-information-mobile {
            min-width: 315px;
          }
          span {
            font-size: 35px;
          }
        }
        .swiper-slide {
          width: 350px !important;
        }
        .swiper-button-next {
          right: 22px;
        }
        .swiper-button-prev {
          left: 12px;
        }
      }
    }
  }
}
