//header
.header-private-sale {
  display: flex;
  background-color: #101229;
  padding: 5px 0;
  .wrapper-header {
    display: flex;
    align-items: center;
  }
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 45px;
    }
    h2 {
      margin-bottom: 0;
      margin-left: 0.4rem;
    }
  }
  .toggle-menu-mobile {
    cursor: pointer;
    display: none;
    margin-left: auto;
  }

  nav {
    margin-left: auto;
    ul {
      display: flex;
      color: #fff;

      li {
        background-color: #0a0b19;
        border-radius: 7px;
        padding: 5px 10px;
        font-size: 1.7rem;
        cursor: pointer;
        margin-right: 1rem;
      }
    }
  }
  .btn-connect-wallet {
    border-radius: 50px;
    color: #fff;
    background-color: #106aaa;
    font-size: 1.7rem;
    margin-left: auto;
    padding: 5px 10px 6px 10px;
  }
}
//main
.private-sale {
  background-color: #0a0b19;
  .private-sale-countdown {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
    h1 {
      font-size: 3.5rem;
    }
    .countdown {
      display: flex;
      color: #fff;
      font-size: 2.5rem;
      justify-content: center;
      background-color: #101229;
      box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
      border-radius: 15px;
      padding: 10px 0;
      margin-top: 2rem;
      .countdown-item {
        width: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        p {
          color: #fff;
          font-size: 3rem;
          font-weight: 900;
        }
        span {
          color: #b6b5b5;
          font-size: 2rem;
        }
      }
    }
  }
  .buy-token {
    display: flex;
    justify-content: center;
    align-items: center;
    .wrapper-card {
      width: 700px;
      border-radius: 10px;
      border: 1px solid #e28001;
      margin-top: 4rem;
      background-color: #101229;
      padding: 15px 25px;
      .header-card {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 55px;
        }
        h1 {
          color: #e28001;
        }
      }
    }
    .amount-price {
      display: flex;
      align-items: center;
      .dropdown-currency {
        color: #fff;
        background-color: #0a0b1982;
        border: none;
        border-radius: 10px;
        font-size: 2rem;
        font-weight: 600;
        padding: 10px 30px;
        &:focus {
          box-shadow: none;
        }
      }
      .wrapper-input-amount {
        margin-left: 2rem;
        width: 100%;
        .top-input-amount {
          color: #a7a9ac;
          display: flex;
          justify-content: space-between;
          font-size: 20px;
        }
        input {
          width: 100%;
          background-color: #0a0b19;
          border: none;
          height: 40px;
          color: #fff;
          padding-left: 10px;
          font-size: 17px;
          &:focus {
            outline: none;
          }
        }
        .bot-input-amount {
          margin-top: 1rem;
          ul {
            display: flex;
            li {
              color: #fff;
              background-color: #0d6efd;
              font-size: 14px;
              width: 55px;
              border-radius: 30px;
              display: flex;
              justify-content: center;
              align-items: center;
              font-weight: 800;
              margin-right: 1rem;
              height: 20px;
              cursor: pointer;
            }
          }
        }
      }
    }
    .information-amount-price {
      margin-top: 4rem;
      .info-price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.5rem;
        span {
          color: #a7a9ac;
          font-size: 19px;
        }
        p {
          font-size: 19px;
          color: #fff;
          font-weight: 700;
        }
      }
    }
    .btn-connect-wallet {
      width: 100%;
      background-color: #0a0b19;
      color: #fff;
      font-weight: 700;
      font-size: 26px;
      height: 60px;
      border-radius: 10px;
    }
  }
  .private-sale-progress-bar {
    width: 700px;
    margin: 3rem auto 0rem auto;
    background-color: #101229;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
    padding: 15px 10px;
    border-radius: 10px;
    .top-progress {
      display: flex;
      justify-content: space-between;
      div {
        display: flex;
        span {
          color: #a7a9ac;
          font-size: 22px;
          margin-right: 0.5rem;
        }
        p {
          color: #fff;
          font-size: 26px;
          font-weight: 800;
        }
      }
    }
    .progress-bar-price {
      height: 19px;
      border-radius: 14px;
      position: relative;
      overflow: hidden;
      border: 4px solid #101229;
      outline: 2px solid #e28001;
      margin-top: 2rem;
      .fill-progress-bar {
        position: absolute;
        background-color: #e28001;
        height: 11px;
        width: 90%;
        left: 0;
        border-radius: 20px;
      }
    }
  }
  .private-sale-details {
    padding-top: 14rem;
    .row {
      align-items: center;
    }
    h1 {
      font-size: 55px;
      margin-bottom: 3rem;
    }
    p {
      font-size: 23px;
    }
  }
  .private-sale-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .card-information {
      background-color: #101229;
      width: 700px;
      padding: 17px 20px;
      border-radius: 10px;
      margin-bottom: 3rem;
      h1 {
        font-size: 21px;
      }
      p {
        font-size: 19px;
      }
    }
  }
  .information-token {
    background-color: #101229;
    margin-top: 6rem;
    .wrapper-information-token {
      display: flex;
      justify-content: space-between;
      height: 120px;
      align-items: center;
      .information-token-item {
        text-align: center;
        &:not(:last-child) {
          border-right: 1px solid #e28001;
        }
        p {
          font-size: 26px;
        }
        h1 {
          font-size: 30px;
          color: #e28001;
        }
      }
    }
  }
  .information-token-img {
    display: flex;
    margin-top: 15rem;
    justify-content: center;
    padding-bottom: 10rem;
    img {
      width: 70%;
    }
  }
}
//footer
.footer-private-sale {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 250px;
  background-color: #101229;
  .social-media {
    ul {
      display: flex;
      row-gap: 1rem;
      li {
        width: 50px;
        height: 50px;
        border-radius: 20px;
        margin-right: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:nth-child(1) {
          background-color: #229ed9;
        }
        &:nth-child(2) {
          background-color: #229ed9;
        }
        &:nth-child(3) {
          background-color: red;
        }
        &:nth-child(4) {
          background-color: #1da1f2;
        }
        img {
          height: 80%;
        }
      }
    }
  }
  p {
    font-size: 2.2rem;
    margin-top: 1rem;
  }
  h2 {
    margin-top: 1.5rem;
  }
}

//offcanvas menu mobile
.private-sale-menu-mobile {
  ul {
    text-align: center;
    margin-top: 30px;
    li {
      margin-bottom: 1.3rem;
      font-size: 23px;
      font-weight: 600;
      cursor: pointer;
      color: #fff;
      &:hover {
        color: #e28001;
      }
    }
  }
}
//responsive

@media (max-width: 1399.98px) {
}

@media (max-width: 1199.98px) {
  .private-sale {
    .private-sale-details {
      h1 {
        font-size: 43px;
      }
    }
    .information-token {
      .wrapper-information-token {
        .information-token-item {
          h1 {
            font-size: 25px;
          }
        }
      }
    }
  }
}

@media (max-width: 991.98px) {
  .header-private-sale {
    nav {
      display: none;
    }
    .toggle-menu-mobile {
      display: block;
    }
  }
  .private-sale {
    .private-sale-details {
      h1 {
        font-size: 50px;
      }
    }
    .private-sale-details {
      padding-top: 7rem;
    }
    .information-token {
      .wrapper-information-token {
        .information-token-item {
          p {
            font-size: 23px;
          }
          h1 {
            font-size: 18px;
          }
        }
      }
    }
    .information-token-img {
      margin-top: 6rem;
      img {
        width: 90%;
      }
    }
  }
}

@media (max-width: 767.98px) {
  .private-sale {
    .private-sale-progress-bar {
      width: 100%;
      .top-progress {
        div {
          span {
            font-size: 17px;
          }
          p {
            font-size: 19px;
          }
        }
      }
    }
    .private-sale-information {
      .card-information {
        width: 100%;
      }
    }
    .information-token {
      .wrapper-information-token {
        height: 200px;
        .information-token-item {
          &:nth-child(1) {
            margin-bottom: 4rem;
          }
          &:nth-child(2) {
            border-right: none;
            margin-bottom: 4rem;
          }
        }
      }
    }
  }
}

@media (max-width: 575.98px) {
  .private-sale {
    .private-sale-countdown {
      .countdown {
        .countdown-item {
          width: 80px;
          span {
            font-size: 1.6rem;
          }
        }
      }
    }
    .buy-token {
      .amount-price {
        flex-direction: column;
        .dropdown {
          margin-top: 1.5rem;
        }
      }
    }
    .private-sale-details {
      h1 {
        font-size: 43px;
      }
    }
    .information-token-img {
      margin-top: 4rem;
      padding-bottom: 4rem;
      img {
        width: 100%;
      }
    }
    .information-token {
      margin-top: 3rem;
    }
  }
}
