.roadmap {
  min-height: 100vh;
  background-color: #313032;
  position: relative;
  padding-top: 11vh;

  &.roadmap-step1 {
    background: url(../images/1ST_BCK.webp) no-repeat;
    background-size: 100% 100%;
    z-index: 2;
  }

  &.roadmap-step2 {
    background: url(../images/2ND_BCK.webp) no-repeat;
    background-size: 100% 100%;
  }

  &.roadmap-step3 {
    background: url(../images/3RD_BCK.webp) no-repeat;
    background-size: cover;
  }

  &.roadmap-step4 {
    background: url(../images/BKGR4-02.webp) no-repeat;
    background-color: #000;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    overflow: hidden;
    .img-elephant-comingsoon {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
      img {
        width: auto;
        height: auto;
        pointer-events: none;
      }
    }
  }

  .roadmap-date {
    p {
      font-size: 28px;
      text-align: center;
      white-space: nowrap;
    }
  }

  &.roadmap-step1 {
    .roadmap-date-1 {
      position: absolute;
      left: 26%;
      transform: translate(-26%, 11%);
      bottom: 11%;
    }
  }

  &.roadmap-step3 {
    .roadmap-date-3 {
      position: relative;
      top: 90px;
    }
  }

  .btn-slide {
    display: flex;
    justify-content: center;
    position: relative;

    &.btn-slide-3 {
      position: relative;
      display: flex;
      justify-content: end;
      margin-right: 6rem;
    }

    a {
      width: 400px;
      height: 84px;
      font-size: 30px;
      display: block;
      text-align: center;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      margin-top: 2rem;

      &:hover {
        span {
          height: 900px !important;
        }
      }
    }
  }

  p {
    font-size: 23px;
    letter-spacing: 1px;
  }

  .content-slide-1-1 {
    margin-top: 6rem;
    position: relative;
    min-height: 34vh;

    .text-roadmap-1 {
      .col-lg-6 {
        display: flex;
      }

      span {
        &:first-child {
          margin-right: 1.5rem;
          flex-shrink: 0;
        }
        &:last-child {
          font-size: 2rem;
          margin-bottom: 2rem;
          color: #fff;
          font-family: "Rota";
          letter-spacing: 0.5px;
        }
      }
    }

    .img-slide-roadmap-1 {
      display: flex;
      justify-content: center;
      height: 440px;
      width: 250px;
      img {
        transform: translate(8px, 16px);
      }
    }
  }

  .content-slide-1-2 {
    align-items: center;
    position: relative;
    min-height: 32vh;
  }

  .content-slide-2-1 {
    align-items: center;
    position: relative;

    img {
      height: 490px;
      transform: translate(8px, 16px);
      width: auto;
    }
  }

  .content-slide-2-2 {
    margin-top: 2rem;
  }

  .content-slide-3 {
    align-items: center;
    margin-top: 2rem;
    p {
      hr {
        margin-bottom: 0.8rem;
        height: 0px;
        margin-top: 0;
        background-color: transparent;
      }
    }
    img {
      height: 450px;
      object-fit: cover;
    }
  }

  .header-roadmap {
    text-align: center;
    min-height: 17vh;

    h2 {
      font-size: 40px;
    }

    p {
      font-size: 25px;
    }
  }

  .header-comingsoon {
    text-align: center;
    display: inline-block;

    h2 {
      font-size: 8rem;
    }

    p {
      sup {
        left: 2px;
      }
    }
  }

  .coming-soon {
    width: 400px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
  }

  // .img-slide-roadmap-1 {
  //   width: 250px;
  // }

  .countdown {
    display: flex;
    // margin-top: 4rem;
    min-height: 10vh;

    .countdown-number {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 300px;
      color: $mainColor;
      font-size: 39px;
      font-weight: bold;

      .time-number {
        background-color: $colorWhite;
        border-radius: 10px;
        width: 60px;
        height: 60px;
        display: flex;
        font-family: "Maven Pro", sans-serif;
        position: relative;
        flex-direction: column;
        .time-couneter {
          position: absolute;
          top: -56px;
          rotate: -60deg;
        }
        span {
          font-size: 1.2rem;
          position: relative;
          bottom: 9px;
          background-color: #000;
          border: 1px solid #e28001;
          border-radius: 0 0 10px 10px;
        }
      }
    }
  }

  .coming-soon-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
      font-size: 5.5rem;
      color: $colorWhite;
      font-family: "Maven Pro", sans-serif;
      font-weight: bold;
    }

    p {
      font-size: 20px;
      letter-spacing: 0.5px;
    }

    .btn-coming-soon {
      width: 260px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      margin-top: 2rem;
      &:hover {
        p {
          color: #000;
        }
      }
      p {
        font-weight: bold;
        font-size: 2.5rem;
        color: #e28001;
      }
    }
  }
}

//Modal 2-roadmap
.roadmap2-modal {
  .modal-header {
    background-color: #313032;
    border-bottom: 0;
    position: sticky;
    top: 0;
    z-index: 5;
    .btn-close {
      background-size: 16px;
      opacity: 1;
      width: 3em;
      height: 3em;

      &:focus {
        box-shadow: none;
      }
    }
  }

  .modal-body {
    background-color: #313032;
  }

  .logo-header {
    display: flex;
    align-items: center;
    flex-direction: column;

    p {
      font-size: 30px;
      margin-top: 1.5rem;
    }

    img {
      width: 220px;
      height: 220px;
    }
  }

  .content-text {
    padding: 0 20px;

    p {
      font-size: 21px;
      margin-top: 2rem;
    }
  }

  .roadmap-participate {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 7rem;
    position: relative;

    video {
      border-radius: 50%;
      position: absolute;
      top: 1767px;
      width: 149px;
      z-index: 0;
    }

    .line-modal-1 {
      position: absolute;
      width: 17px;
      height: 239px;
      background-color: #e06f1f;
      z-index: 3;
      top: 70px;
    }

    .line-modal-2 {
      position: absolute;
      width: 17px;
      height: 264px;
      background-color: #e06f1f;
      z-index: 3;
      top: 370px;
    }

    .line-modal-3 {
      position: absolute;
      width: 17px;
      height: 300px;
      background-color: #e06f1f;
      z-index: 3;
      top: 695px;
    }

    .line-modal-4 {
      position: absolute;
      width: 17px;
      height: 277px;
      background-color: #e06f1f;
      z-index: 3;
      top: 1049px;
    }

    .line-modal-5 {
      position: absolute;
      width: 17px;
      height: 350px;
      background-color: #e06f1f;
      z-index: 3;
      top: 1382px;
    }

    img {
      width: 149px;
    }
    .roadmap-modal-svg {
      position: static;
      z-index: unset;
    }
    svg {
      position: absolute;
      width: 149px;
      z-index: 3;
    }

    .box-roadmap {
      position: absolute;
      width: 300px;
      background-color: #f5f5f5;
      color: #000;
      border-radius: 11px;
      padding: 10px 5px 10px 11px;
      z-index: 3;
      h3 {
        color: #000;
        font-size: 2.4rem;
      }

      p {
        color: #000;
        font-size: 19px;
        margin-top: 0rem;
        letter-spacing: 0.5px;
      }
    }

    .box-roadmap-2 {
      background-color: #f5f5f5;
      color: #000;
      border-radius: 11px;
      padding: 10px 5px 20px 11px;
      margin-top: 3rem;
      width: 92%;

      h3 {
        color: #000;
        font-size: 2.4rem;
        text-align: center;
      }

      p {
        color: #000;
        font-size: 21px;
        margin-top: 2rem;
      }
    }

    .box-twitter {
      top: 0;
      right: 31px;
    }

    .box-twitter-1 {
      top: 300px;
      left: 31px;
    }

    .box-telegram {
      top: 623px;
      right: 31px;
    }

    .box-qpoker {
      top: 980px;
      left: 31px;
    }

    .box-youtube {
      top: 1316px;
      right: 31px;
    }
  }
}

//Modal 3-roadmap
.roadmap3-modal {
  .modal-header {
    background-color: #313032;
    border-bottom: 0;
    position: sticky;
    top: 0;
    z-index: 2;

    .btn-close {
      background-size: 16px;
      opacity: 1;
      width: 3em;
      height: 3em;

      &:focus {
        box-shadow: none;
      }
    }
  }

  .modal-body {
    background-color: #313032;
  }

  .logo-header {
    img {
      margin-top: 2rem;
    }

    p {
      font-size: 30px;
      margin-top: 5rem;
      text-align: center;
    }
  }

  .content-text {
    padding: 0 20px;

    p {
      font-size: 20px;
      margin-top: 2rem;
    }
  }

  .image-CMC {
    margin-top: 4rem;
  }

  .roadmap-CMC {
    .image-roadmap-CMC {
      position: relative;

      .line-modal-1 {
        position: absolute;
        width: 628px;
        height: 26px;
        background-color: #e06f1f;
        top: 25px;
        left: 78px;
      }

      .line-modal-2 {
        position: absolute;
        width: 26px;
        height: 223px;
        background-color: #e06f1f;
        top: 67px;
        right: 25px;
      }

      .line-modal-3 {
        position: absolute;
        width: 628px;
        height: 26px;
        background-color: #e06f1f;
        top: 309px;
        right: 72px;
      }

      .line-modal-4 {
        position: absolute;
        width: 26px;
        height: 416px;
        background-color: #e06f1f;
        top: 355px;
        left: 32px;
      }

      .line-modal-5 {
        position: absolute;
        width: 628px;
        height: 26px;
        background-color: #e06f1f;
        top: 791px;
        left: 78px;
      }

      svg {
        position: absolute;
      }
    }

    .box-detail {
      width: 600px;
      padding: 15px 10px 15px 10px;
      background-color: #444444;
      border-radius: 12px;

      p {
        font-size: 20px;
      }
    }

    .box-detail-1 {
      display: flex;
      justify-content: center;
    }

    .box-detail-2 {
      display: flex;
      justify-content: center;
      position: absolute;
      top: 107px;
      left: 0;
      right: 0;
    }

    .box-detail-3 {
      position: absolute;
      top: 450px;
      left: 0;
      width: 100%;
      right: 0;
      display: flex;
      justify-content: center;
    }
  }
}

//Responsive
@media screen and (max-width: 1399.98px) {
  .roadmap {
    &.roadmap-step4 {
      .img-elephant-comingsoon {
        position: absolute;
        top: 29px;
        right: -131px;
      }
    }

    .content-slide-2-1 {
      img {
        height: 440px;
      }
    }

    .content-slide-3 {
      img {
        height: 388px;
      }
    }
  }
}

@media screen and (max-width: 1199.98px) {
  .roadmap {
    &.roadmap-step4 {
      background-position: 12%;

      .img-elephant-comingsoon {
        top: 69px;
        right: -220px;
      }
    }

    .content-slide-3 {
      img {
        height: 405px;
      }
    }
  }
}

@media screen and (max-width: 1199.98px) and (min-width: 992px) {
  .roadmap {
    p {
      font-size: 21px;
    }

    .content-slide-2-1 {
      img {
        height: 390px;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .roadmap {
    &.roadmap-step4 {
      .img-elephant-comingsoon {
        img {
          &:last-child {
            display: none;
          }
        }
      }
    }
  }

  //responsive modal
  .roadmap3-modal {
    height: 2855px;

    .logo-header {
      height: 370px;

      img {
        height: 255px;
      }
    }

    .image-CMC {
      height: 861px;
    }

    .roadmap-CMC {
      height: 992px;
    }

    .image-roadmap-CMC {
      height: 842px;

      img {
        height: 842.15px;
      }
    }
  }
}

@media screen and (max-width: 991.98px) {
  .roadmap {
    &.roadmap-step1 {
      background-position: center;
      background-size: cover;

      .roadmap-date-1 {
        top: 38%;
        left: 66%;
        transform: translate(-38%, -66%);
        bottom: auto;
      }
    }

    &.roadmap-step2 {
      background-size: cover;
    }

    .content-slide-1-1 {
      .img-slide-roadmap-1 {
        width: 34%;
        height: auto;

        img {
          position: static;
          width: 100%;
          height: auto;
          transform: none;
        }
      }
    }

    .content-slide-2-1 {
      img {
        height: 380px;
        transform: none;
      }
    }

    .content-slide-3 {
      margin-top: 0;
    }

    &.roadmap-step2 {
      background-position: top;

      .roadmap-date-2 {
        position: absolute;
        margin-right: 0;
        top: 30%;
        right: 21%;
      }
    }

    &.roadmap-step3 {
      background-position: top;

      img {
        width: 54%;
      }

      .roadmap-date-3 {
        position: absolute;
        top: 30%;
        right: 15%;
        transform: translate(-30%, 15%);
      }
    }

    .coming-soon {
      margin: 54rem auto 0 auto;
    }

    &.roadmap-step4 {
      background: url(../images/BKGR4-02-Res.jpg) no-repeat;
      background-position: top;
      background-size: 600px;
      align-items: end;

      .img-elephant-comingsoon {
        top: 0;
        width: 595px;
        position: relative;
        right: -53px;

        img {
          width: 100%;
          position: absolute;

          &:first-child {
            display: none;
          }
        }
      }
    }

    .img-slide-roadmap-1-2 {
      margin: 0 auto;
    }

    .btn-slide {
      position: absolute;
      right: 0;
      bottom: -200px;

      &.btn-slide-3 {
        position: absolute;
        bottom: -200px;
        right: 0;
        top: auto;
        margin-right: 0;

        a {
          width: 333px;
        }
      }
    }
  }

  //responsive Modal
  .roadmap3-modal {
    .roadmap-CMC {
      .box-detail-2 {
        position: static;
        transform: none;
        margin-top: 2rem;
      }

      .box-detail-3 {
        position: static;
        transform: none;
        margin-top: 2rem;

        .box-detail {
          width: 100%;
        }
      }

      .image-roadmap-CMC {
        svg,
        img {
          display: none;
        }
      }
    }
  }

  .roadmap2-modal {
    .roadmap-participate {
      .box-twitter {
        top: 75px;
        right: auto;
      }

      .box-twitter-1 {
        top: 388px;
        left: auto;
      }

      .box-telegram {
        top: 730px;
        right: auto;
      }

      .box-qpoker {
        top: 1076px;
        left: auto;
      }

      .box-youtube {
        top: 1448px;
        right: auto;
      }
    }
  }
}

@media screen and (max-width: 767.98px) {
  .roadmap {
    &.roadmap-step2 {
      .roadmap-date-2 {
        position: absolute;
        margin-right: 0;
        top: 30%;
        right: 21%;
      }
    }

    .content-slide-2-1 {
      img {
        height: 310px;
      }

      .btn-slide {
        bottom: -170px;

        a {
          width: 300px;
          height: 75px;
        }
      }
    }

    .btn-slide.btn-slide-3 {
      bottom: -160px;
      right: -21px;

      a {
        width: 300px;
      }
    }

    .content-slide-3 {
      img {
        height: 268px;
        width: 48%;
      }
    }

    &.roadmap-step3 {
      .roadmap-date-3 {
        top: 24%;
        transform: translate(-24%, 15%);
      }
    }

    &.roadmap-step4 {
      .img-elephant-comingsoon {
        right: 25px;
      }
    }

    .content-slide-1-1 {
      .img-slide-roadmap-1 {
        width: 40%;
      }
    }
  }
}

@media screen and (max-width: 575.98px) {
  .roadmap {
    p {
      font-size: 20px;
    }

    &.roadmap-step1 {
      .roadmap-date-1 {
        top: 33%;
        left: 71%;
        transform: translate(-38%, -66%);
      }
    }

    .content-slide-1-1 {
      .img-slide-roadmap-1 {
        width: 200px;
      }
    }

    .content-slide-2-1 {
      img {
        height: 310px;
        margin-top: 2rem;
      }

      .btn-slide {
        position: static;

        a {
          width: 350px;
          height: 80px;
        }
      }
    }

    &.roadmap-step2 {
      .roadmap-date-2 {
        position: absolute;
        margin-right: 0;
        top: 25%;
        right: 10%;
      }
    }

    &.roadmap-step3 {
      .roadmap-date-3 {
        top: 22%;
        right: 4%;
        transform: translate(-18%, 4%);
      }
    }

    &.roadmap-step4 {
      .img-elephant-comingsoon {
        right: 86px;
        top: 47px;
        width: 535px;
        position: relative;
      }
    }

    .content-slide-2-1 {
      p {
        font-size: 2rem;
      }
    }

    .coming-soon {
      width: 100%;
    }

    .coming-soon-text {
      span {
        font-size: 45px;
        margin: 1rem 0 1rem 0;
        display: block;
      }

      p {
        font-size: 20px;
      }
    }

    .content-slide-3 {
      img {
        height: 350px;
        width: 100%;
        margin-top: 2rem;
      }
    }

    .btn-slide {
      a {
        width: 100%;
      }

      &.btn-slide-3 {
        inset: 0;
        position: static;

        a {
          width: 350px;
        }
      }
    }
  }

  //responsive Modal
  .roadmap3-modal {
    .content-text {
      padding: 0 7px;
    }
  }

  .roadmap2-modal {
    .content-text {
      p {
        font-size: 18px;
        letter-spacing: 1px;
      }
    }
  }
}

@media screen and (max-width: 370px) {
  .roadmap {
    &.roadmap-step4 {
      .img-elephant-comingsoon {
        right: 120px;
      }
    }
  }
}

@media screen and (min-height: 700px) and (max-height: 840px) and (min-width: 1000px) and (max-width: 1800px) {
  .roadmap {
    .btn-slide {
      margin-top: 1rem;
    }
    p {
      font-size: 20px;
    }
  }
}

//desktop mode in mobile
@media screen and (max-height: 2000px) and (min-height: 1500px) and (max-width: 990px) and (min-width: 950px) {
  .roadmap {
    min-height: auto;

    .header-roadmap {
      min-height: auto;
    }
  }
}
//responsive for height 700px to 600px
@media screen and (max-height: 699.98px) and (min-height: 600px) and (max-width: 1399.98px) and (min-width: 992px) {
  .roadmap {
    &.roadmap-step1,
    &.roadmap-step2,
    &.roadmap-step3 {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .content-slide-1-1 {
      margin-top: 3rem;
    }
    &.roadmap-step4 {
      .img-elephant-comingsoon {
        top: 0;
      }
    }
    padding-top: 0;
    p {
      font-size: 20px;
    }
  }
}
