* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  line-height: 1.5;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
body {
 a {
    text-decoration: none;
    color: #000;
    &:hover{
      color: #000;
    }
  }
  ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
}
p {
  color: burlywood;
}

@import './hero'