@font-face {
  font-family: "Maven Pro";
  src: url("../font/MavenPro-SemiBold.woff2") format("woff2"),
    url("../font/MavenPro-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Maven Pro";
  src: url("../font/MavenPro-Black.woff2") format("woff2"),
    url("../font/MavenPro-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Maven Pro";
  src: url("../font/MavenPro-ExtraBold.woff2") format("woff2"),
    url("../font/MavenPro-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Maven Pro";
  src: url("../font/MavenPro-Regular.woff2") format("woff2"),
    url("../font/MavenPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Maven Pro";
  src: url("../font/MavenPro-Medium.woff2") format("woff2"),
    url("../font/MavenPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Maven Pro";
  src: url("../font/MavenPro-Bold.woff2") format("woff2"),
    url("../font/MavenPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Rota";
  src: url("../font/Rota-Bold.woff2") format("woff2"),
    url("../font/Rota-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Rota";
  src: url("../font/Rota-Regular.woff2") format("woff2"),
    url("../font/Rota-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Rota";
  src: url("../font/Rota-Medium.woff2") format("woff2"),
    url("../font/Rota-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Rota";
  src: url("../font/Rota-SemiBold.woff2") format("woff2"),
    url("../font/Rota-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Rota";
  src: url("../font/Rota-Black.woff2") format("woff2"),
    url("../font/Rota-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: fallback;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  overflow-x: hidden;
  background-color: #000;
}

body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

body a {
  text-decoration: none;
  color: #000;
  font-family: "Rota", sans-serif;
  letter-spacing: 1px;
}

body a:hover {
  color: #000;
}

body ol,
body ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body ol li,
body ul li {
  font-family: "Rota", sans-serif;
  letter-spacing: 1px;
}

body p {
  font-family: "Rota";
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 0;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  color: #fff;
  font-family: "Maven Pro", sans-serif;
  font-weight: bold;
}

body button {
  border: none;
  outline: none;
  font-family: "Maven Pro", sans-serif;
}

.btn-main {
  background-color: #e17f02;
  letter-spacing: 1px;
  font-weight: bold;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 19px;
  padding-top: 0.4rem;
}

header {
  min-height: 13vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  width: 100%;
  z-index: 10;
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header .logo img {
  width: 90px;
  height: 90px;
}

header .logo h1 {
  font-size: 2.4rem;
  font-weight: bold;
  margin-left: 1rem;
  margin-bottom: 0;
}

header nav {
  position: relative;
  right: 25px;
}

header nav ul {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

header nav ul li {
  font-size: 1.75rem;
  position: relative;
}

header nav ul li a {
  color: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

header nav ul li a:hover {
  color: #e28001;
}

header .btn-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

header .btn-header a {
  width: 170px;
  height: 52px;
  background-color: #e17f02;
  letter-spacing: 1px;
  font-weight: bold;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 19px;
  padding-top: 0.4rem;
}

.hero-bg {
  background: url(../images/BKG.png) no-repeat;
  background-size: cover;
}

.hero {
  height: 100vh;
}

.hero .hero-img-elephant img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 760px;
}

.hero .hero-text {
  height: 100vh;
  width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.hero .hero-text .box {
  opacity: 0;
  position: relative;
  top: 100px;
}

.hero .hero-text h2 {
  font-size: 6.5rem;
  width: 700px;
  margin-bottom: 4rem;
}

.hero .hero-text p {
  font-size: 2.8rem;
  color: rgba(255, 255, 255, 0.8);
}

.hero .btns-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3rem;
  opacity: 0;
  position: relative;
  top: 100px;
}

.hero .btns-hero .btn-hero {
  width: 200px;
  height: 60px;
  cursor: pointer;
  font-size: 22px;
}

.hero .btns-hero .btn-watch {
  height: 60px;
  width: 60px;
  border: 5px solid #e28001;
  border-radius: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 9rem;
  position: relative;
}

.hero .btns-hero .btn-watch::after {
  content: "Watch Trailer";
  position: absolute;
  right: -138px;
  color: #fff;
  white-space: nowrap;
  font-size: 2rem;
  top: 13px;
}

.social-section {
  padding-top: 30px;
  height: 100vh;
  position: relative;
  background-color: #000;
}

.social-section .matrix-laod {
  position: absolute;
  top: 0;
}

.social-section .header-social {
  text-align: center;
}

.social-section .header-social h2 {
  color: #fff;
  font-size: 40px;
}

.social-section .header-social p {
  color: #fff;
  font-size: 25px;
}

.social-section .circle-socials {
  width: 100%;
  height: 640px;
  position: relative;
}

.social-section .circle-socials .all-circle-social {
  width: 100%;
  height: 90%;
}

.social-section .circle-socials .right-circle-social .socials-in-circle {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.social-section .circle-socials .right-circle-social .socials-in-circle span {
  color: #fff;
  font-size: 21px;
  font-family: "Maven Pro", sans-serif;
  font-weight: bold;
}

.social-section .circle-socials .right-circle-social .socials-in-circle p {
  font-size: 18px;
  color: #fff;
  white-space: nowrap;
}

.social-section .circle-socials .right-circle-social .circle-icon-social {
  width: 20px;
  margin-right: 4rem;
}

.social-section .circle-socials .right-circle-social .telegram-social {
  left: 286px;
  position: relative;
  bottom: 500px;
}

.social-section .circle-socials .right-circle-social .twitter-social {
  position: relative;
  bottom: 449px;
  left: 319px;
}

.social-section .circle-socials .right-circle-social .youtube-social {
  bottom: 352px;
  position: relative;
  left: 319px;
}

.social-section .circle-socials .right-circle-social .github-social {
  bottom: 304px;
  position: relative;
  left: 287px;
}

.social-section .circle-socials .left-circle-social .team-info-circle {
  text-align: center;
  line-height: 23px;
}

.social-section .circle-socials .left-circle-social .team-info-circle span {
  color: #fff;
  font-size: 30px;
  font-family: "Maven Pro", sans-serif;
  font-weight: bold;
}

.social-section .circle-socials .left-circle-social .team-info-circle p {
  font-size: 20px;
  color: #fff;
  white-space: nowrap;
  letter-spacing: 1px;
}

.social-section .circle-socials .left-circle-social .team-info-1 {
  right: 275px;
  position: relative;
  bottom: 729px;
}

.social-section .circle-socials .left-circle-social .team-info-2 {
  bottom: 674px;
  position: relative;
  right: 305px;
}

.social-section .circle-socials .left-circle-social .team-info-3 {
  bottom: 571px;
  position: relative;
  right: 314px;
}

.social-section .circle-socials .left-circle-social .team-info-4 {
  bottom: 513px;
  position: relative;
  right: 283px;
}

.social-section .circle-socials img {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
}

footer {
  background-color: #000;
  padding-top: 50px;
}

footer .footer-left h4 {
  font-size: 2.4rem;
}

footer .footer-left p {
  font-size: 17px;
  letter-spacing: 1px;
  margin: 2rem 0;
}

footer .footer-left form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

footer .footer-left form input {
  height: 50px;
  border-radius: 7px;
  background-color: transparent;
  border: 3px solid #e28001;
  outline: none;
  color: #fff;
  padding: 0 10px;
  font-size: 17px;
}

footer .footer-left form input::-webkit-input-placeholder {
  color: #fff;
  font-size: 17px;
}

footer .footer-left form input:-ms-input-placeholder {
  color: #fff;
  font-size: 17px;
}

footer .footer-left form input::-ms-input-placeholder {
  color: #fff;
  font-size: 17px;
}

footer .footer-left form input::placeholder {
  color: #fff;
  font-size: 17px;
}

footer .footer-left form button {
  margin-top: 1rem;
  height: 50px;
  background-color: #e28001;
  font-size: 20px;
  font-weight: bold;
  border-radius: 7px;
}

footer .footer-logo .footer-social-media {
  position: absolute;
}

footer .footer-logo .footer-social-media a {
  position: absolute;
  width: 55px;
  height: 55px;
  border: 2px solid #e28001;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

footer .footer-logo .footer-social-media a:nth-child(2) {
  left: 112px;
  bottom: -21px;
}

footer .footer-logo .footer-social-media a:nth-child(3) {
  left: 220px;
}

footer .footer-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

footer .footer-right ul li {
  font-size: 19px;
  color: rgba(255, 255, 255, 0.8);
  margin: 1.5rem 0;
  letter-spacing: 1px;
}

footer .footer-right ul li:first-child {
  color: #fff;
  font-size: 20px;
  font-family: "Maven Pro", sans-serif;
  font-weight: bold;
}

footer .footer-copy-right p {
  text-align: center;
  font-size: 2rem;
  padding: 2rem 0;
  letter-spacing: 1px;
  margin-bottom: 0rem;
}
/*# sourceMappingURL=app.css.map */
