@font-face {
  font-family: "Maven Pro";
  src: url("../font/MavenPro-SemiBold.woff2") format("woff2"),
    url("../font/MavenPro-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Maven Pro";
  src: url("../font/MavenPro-Black.woff2") format("woff2"),
    url("../font/MavenPro-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Maven Pro";
  src: url("../font/MavenPro-ExtraBold.woff2") format("woff2"),
    url("../font/MavenPro-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Maven Pro";
  src: url("../font/MavenPro-Regular.woff2") format("woff2"),
    url("../font/MavenPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Maven Pro";
  src: url("../font/MavenPro-Medium.woff2") format("woff2"),
    url("../font/MavenPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Maven Pro";
  src: url("../font/MavenPro-Bold.woff2") format("woff2"),
    url("../font/MavenPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Rota";
  src: url("../font/Rota-Bold.woff2") format("woff2"),
    url("../font/Rota-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Rota";
  src: url("../font/Rota-Regular.woff2") format("woff2"),
    url("../font/Rota-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Rota";
  src: url("../font/Rota-Medium.woff2") format("woff2"),
    url("../font/Rota-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Rota";
  src: url("../font/Rota-SemiBold.woff2") format("woff2"),
    url("../font/Rota-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Rota";
  src: url("../font/Rota-Black.woff2") format("woff2"),
    url("../font/Rota-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: fallback;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  overflow-x: hidden;
  background-color: #000;
}

body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

body a {
  text-decoration: none;
  color: #000;
  font-family: "Rota", sans-serif;
  letter-spacing: 1px;
}

body a:hover {
  color: #000;
}

body ol,
body ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body ol li,
body ul li {
  font-family: "Rota", sans-serif;
  letter-spacing: 1px;
}

body p {
  font-family: "Rota";
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 0;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  color: #fff;
  font-family: "Maven Pro", sans-serif;
  font-weight: bold;
}

body button {
  border: none;
  outline: none;
  font-family: "Maven Pro", sans-serif;
}

.btn-main {
  background-color: #e17f02;
  letter-spacing: 1px;
  font-weight: bold;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 19px;
  padding-top: 0.4rem;
}

header {
  min-height: 13vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  width: 100%;
  z-index: 10;
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header .logo img {
  width: 90px;
  height: 90px;
}

header .logo h1 {
  font-size: 2.4rem;
  font-weight: bold;
  margin-left: 1rem;
  margin-bottom: 0;
}

header nav {
  position: relative;
  right: 25px;
}

header nav ul {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

header nav ul li {
  font-size: 1.75rem;
  position: relative;
}

header nav ul li a {
  color: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

header nav ul li a:hover {
  color: #e28001;
}

header .btn-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

header .btn-header a {
  width: 170px;
  height: 52px;
  background-color: #e17f02;
  letter-spacing: 1px;
  font-weight: bold;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 19px;
  padding-top: 0.4rem;
}

.hero-bg {
  background: url(../images/BKG.png) no-repeat;
  background-size: cover;
}

.hero {
  height: 100vh;
}

.hero .hero-img-elephant img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 760px;
}

.hero .hero-text {
  height: 100vh;
  width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.hero .hero-text .box {
  opacity: 0;
  position: relative;
  top: 100px;
}

.hero .hero-text h2 {
  font-size: 6.5rem;
  width: 700px;
  margin-bottom: 4rem;
}

.hero .hero-text p {
  font-size: 2.8rem;
  color: rgba(255, 255, 255, 0.8);
}

.hero .btns-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3rem;
  opacity: 0;
  position: relative;
  top: 100px;
}

.hero .btns-hero .btn-hero {
  width: 200px;
  height: 60px;
  cursor: pointer;
  font-size: 22px;
}

.hero .btns-hero .btn-watch {
  height: 60px;
  width: 60px;
  border: 5px solid #e28001;
  border-radius: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 9rem;
  position: relative;
}

.hero .btns-hero .btn-watch::after {
  content: "Watch Trailer";
  position: absolute;
  right: -138px;
  color: #fff;
  white-space: nowrap;
  font-size: 2rem;
  top: 13px;
}

.social-section {
  padding-top: 30px;
  height: 100vh;
  position: relative;
  background-color: #000;
}

.social-section .matrix-laod {
  position: absolute;
  top: 0;
}

.social-section .header-social {
  text-align: center;
}

.social-section .header-social h2 {
  color: #fff;
  font-size: 40px;
}

.social-section .header-social p {
  color: #fff;
  font-size: 25px;
}

.social-section .circle-socials {
  width: 100%;
  height: 640px;
  position: relative;
}

.social-section .circle-socials .all-circle-social {
  width: 100%;
  height: 90%;
}

.social-section .circle-socials .right-circle-social .socials-in-circle {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.social-section .circle-socials .right-circle-social .socials-in-circle span {
  color: #fff;
  font-size: 21px;
  font-family: "Maven Pro", sans-serif;
  font-weight: bold;
}

.social-section .circle-socials .right-circle-social .socials-in-circle p {
  font-size: 18px;
  color: #fff;
  white-space: nowrap;
}

.social-section .circle-socials .right-circle-social .circle-icon-social {
  width: 20px;
  margin-right: 4rem;
}

.social-section .circle-socials .right-circle-social .telegram-social {
  left: 286px;
  position: relative;
  bottom: 500px;
}

.social-section .circle-socials .right-circle-social .twitter-social {
  position: relative;
  bottom: 449px;
  left: 319px;
}

.social-section .circle-socials .right-circle-social .youtube-social {
  bottom: 352px;
  position: relative;
  left: 319px;
}

.social-section .circle-socials .right-circle-social .github-social {
  bottom: 304px;
  position: relative;
  left: 287px;
}

.social-section .circle-socials .left-circle-social .team-info-circle {
  text-align: center;
  line-height: 23px;
}

.social-section .circle-socials .left-circle-social .team-info-circle span {
  color: #fff;
  font-size: 30px;
  font-family: "Maven Pro", sans-serif;
  font-weight: bold;
}

.social-section .circle-socials .left-circle-social .team-info-circle p {
  font-size: 20px;
  color: #fff;
  white-space: nowrap;
  letter-spacing: 1px;
}

.social-section .circle-socials .left-circle-social .team-info-1 {
  right: 275px;
  position: relative;
  bottom: 729px;
}

.social-section .circle-socials .left-circle-social .team-info-2 {
  bottom: 674px;
  position: relative;
  right: 305px;
}

.social-section .circle-socials .left-circle-social .team-info-3 {
  bottom: 571px;
  position: relative;
  right: 314px;
}

.social-section .circle-socials .left-circle-social .team-info-4 {
  bottom: 513px;
  position: relative;
  right: 283px;
}

.social-section .circle-socials img {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
}

.roadmap {
  height: 100vh;
  background-color: #313032;
  position: relative;
}

.roadmap .swiper {
  height: 100%;
}

.roadmap .swiper .swiper-slide {
  padding-top: 30px;
}

.roadmap .swiper .swiper-slide:nth-child(1) {
  background: url(../images/timeline-grad-01.svg) no-repeat;
  background-size: cover;
}

.roadmap .swiper .swiper-slide:nth-child(2) {
  background: url(../images/timeline-grad-02.svg) no-repeat;
  background-size: cover;
}

.roadmap .swiper .swiper-slide:nth-child(3) {
  background: url(../images/timeline-grad-03.svg) no-repeat;
  background-size: cover;
}

.roadmap .swiper .swiper-slide:nth-child(4) {
  background: url(../images/timeline-grad-04.svg) no-repeat;
  background-size: cover;
}

.roadmap .swiper .swiper-slide .roadmap-date.roadmap-date-1 {
  position: absolute;
  top: 61%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.roadmap .swiper .swiper-slide .roadmap-date.roadmap-date-2 {
  margin-top: 4.5rem;
  margin-right: 4rem;
}

.roadmap .swiper .swiper-slide .roadmap-date.roadmap-date-3 {
  position: relative;
  top: 90px;
}

.roadmap .swiper .swiper-slide .roadmap-date p {
  font-size: 28px;
  text-align: center;
}

.roadmap .swiper .swiper-slide .btn-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.roadmap .swiper .swiper-slide .btn-slide.btn-slide-3 {
  position: relative;
  top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  margin-right: 6rem;
}

.roadmap .swiper .swiper-slide .btn-slide a {
  width: 400px;
  height: 84px;
  background-color: #e28001;
  font-size: 30px;
  display: block;
  text-align: center;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.roadmap .swiper .swiper-slide p {
  font-size: 23px;
  letter-spacing: 1px;
}

.roadmap .swiper .swiper-slide .content-slide-1-1 {
  margin-top: 6rem;
  position: relative;
  min-height: 34vh;
}

.roadmap .swiper .swiper-slide .content-slide-1-1 .roadmap-line-1-1 {
  position: absolute;
  bottom: -64px;
  left: 145px;
}

.roadmap .swiper .swiper-slide .content-slide-1-2 {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  height: 32vh;
}

.roadmap .swiper .swiper-slide .content-slide-1-2 .roadmap-line-1-2 {
  position: absolute;
  top: -46px;
  width: 700px;
  right: -142px;
}

.roadmap .swiper .swiper-slide .content-slide-2-1 {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.roadmap .swiper .swiper-slide .content-slide-2-1 p {
  margin-top: 4rem;
}

.roadmap .swiper .swiper-slide .content-slide-2-1 .roadmap-line-2-1 {
  position: absolute;
  left: -188px;
  bottom: -83px;
}

.roadmap .swiper .swiper-slide .content-slide-2-1 .roadmap-line-2-2 {
  position: absolute;
  right: -262px;
  top: 132px;
}

.roadmap .swiper .swiper-slide .content-slide-3 {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.roadmap .swiper .swiper-slide .roadmap-line-3-1 {
  position: absolute;
  left: 0;
  top: 268px;
}

.roadmap .swiper .swiper-slide .roadmap-line-3-2 {
  position: absolute;
  bottom: 47px;
  right: 2px;
}

.roadmap .swiper .swiper-slide .header-roadmap {
  text-align: center;
  min-height: 17vh;
}

.roadmap .swiper .swiper-slide .header-roadmap h2 {
  font-size: 40px;
}

.roadmap .swiper .swiper-slide .header-roadmap p {
  font-size: 25px;
}

.roadmap .swiper .swiper-slide .img-slide-roadmap-1 {
  width: 250px;
}

.roadmap .swiper .swiper-slide .countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 4rem;
}

.roadmap .swiper .swiper-slide .countdown .countdown-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 300px;
  color: #e28001;
  font-size: 39px;
  font-weight: bold;
}

.roadmap .swiper .swiper-slide .countdown .countdown-number .time-number {
  background-color: #fff;
  border-radius: 10px;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.roadmap .swiper .swiper-slide .coming-soon {
  text-align: center;
  margin-top: 6rem;
}

.roadmap .swiper .swiper-slide .coming-soon span {
  font-size: 90px;
  color: #fff;
  font-family: "Maven Pro", sans-serif;
  font-weight: bold;
}

.roadmap .swiper .swiper-slide .coming-soon p {
  font-size: 25px;
  margin-top: 2rem;
}

.ourteam {
  min-height: 100vh;
  background-color: #000;
  position: relative;
}

.ourteam hr {
  color: #e28001;
}

.ourteam .ourteam-header {
  min-height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.ourteam .ourteam-header h2 {
  font-size: 40px;
}

.ourteam .ourteam-header p {
  font-size: 25px;
}

.ourteam .ourteam-characters {
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  position: relative;
  z-index: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.ourteam .ourteam-characters.hidden {
  opacity: 0;
  visibility: hidden;
}

.ourteam .ourteam-characters div {
  width: 250px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  position: relative;
}

.ourteam .ourteam-characters .character-1 {
  left: 135px;
}

.ourteam .ourteam-characters .character-2 {
  left: 43px;
}

.ourteam .ourteam-characters .character-3 {
  position: relative;
  z-index: 3;
}

.ourteam .ourteam-characters .character-4 {
  right: 50px;
  z-index: 0;
}

.ourteam .ourteam-characters .character-5 {
  left: -129px;
  position: relative;
  z-index: -2;
}

.ourteam .ourteam-characters .character-6 {
  top: -214px;
  right: 1126px;
  z-index: -1;
}

.ourteam .ourteam-characters .character-6 img {
  -o-object-fit: contain;
  object-fit: contain;
}

.ourteam .ourteam-characters .character-7 {
  z-index: -1;
  top: -214px;
  right: 1192px;
}

.ourteam .ourteam-characters .character-7 img {
  -o-object-fit: contain;
  object-fit: contain;
}

.ourteam .ourteam-characters .character-8 {
  z-index: -1;
  top: -204px;
  right: 1264px;
  width: 264px;
}

.ourteam .ourteam-characters .character-8 img {
  height: 367px;
}

.ourteam .ourteam-characters .character-9 {
  z-index: -2;
  top: -214px;
  right: 1334px;
}

.ourteam .ourteam-characters .character-9 img {
  -o-object-fit: contain;
  object-fit: contain;
}

.ourteam .ourteam-characters .character-10 {
  z-index: -3;
  top: -214px;
  right: 1408px;
}

.ourteam .ourteam-characters .character-10 img {
  -o-object-fit: contain;
  object-fit: contain;
}

.ourteam .ourteam-characters img {
  width: 100%;
  -webkit-filter: grayscale(100%) blur(3px);
  filter: grayscale(100%) blur(3px);
  cursor: pointer;
  -o-object-fit: fill;
  object-fit: fill;
  height: 350px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.ourteam .ourteam-characters img:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.ourteam .loading-nft {
  color: #fff;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.ourteam .model3d-characters {
  width: 100%;
  height: 470px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.ourteam .model3d-characters .close-model3d {
  background-color: #e28001;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  cursor: pointer;
}

footer {
  background-color: #000;
  padding-top: 50px;
}

footer .footer-left h4 {
  font-size: 2.4rem;
}

footer .footer-left p {
  font-size: 17px;
  letter-spacing: 1px;
  margin: 2rem 0;
}

footer .footer-left form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

footer .footer-left form input {
  height: 50px;
  border-radius: 7px;
  background-color: transparent;
  border: 3px solid #e28001;
  outline: none;
  color: #fff;
  padding: 0 10px;
  font-size: 17px;
}

footer .footer-left form input::-webkit-input-placeholder {
  color: #fff;
  font-size: 17px;
}

footer .footer-left form input:-ms-input-placeholder {
  color: #fff;
  font-size: 17px;
}

footer .footer-left form input::-ms-input-placeholder {
  color: #fff;
  font-size: 17px;
}

footer .footer-left form input::placeholder {
  color: #fff;
  font-size: 17px;
}

footer .footer-left form button {
  margin-top: 1rem;
  height: 50px;
  background-color: #e28001;
  font-size: 20px;
  font-weight: bold;
  border-radius: 7px;
}

footer .footer-logo .footer-social-media {
  position: absolute;
}

footer .footer-logo .footer-social-media a {
  position: absolute;
  width: 55px;
  height: 55px;
  border: 2px solid #e28001;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

footer .footer-logo .footer-social-media a:nth-child(2) {
  left: 112px;
  bottom: -21px;
}

footer .footer-logo .footer-social-media a:nth-child(3) {
  left: 220px;
}

footer .footer-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

footer .footer-right ul li {
  font-size: 19px;
  color: rgba(255, 255, 255, 0.8);
  margin: 1.5rem 0;
  letter-spacing: 1px;
}

footer .footer-right ul li:first-child {
  color: #fff;
  font-size: 20px;
  font-family: "Maven Pro", sans-serif;
  font-weight: bold;
}

footer .footer-copy-right p {
  text-align: center;
  font-size: 2rem;
  padding: 2rem 0;
  letter-spacing: 1px;
  margin-bottom: 0rem;
}
/*# sourceMappingURL=app.css.map */
